In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('citibike.csv')
df.head() # Первые 5 строк фрейма

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,17431,Customer,NaN,0
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St,40.730287,-73.990765,466,W 25 St & 6 Ave,40.743954,-73.991449,24159,Subscriber,1984.0,1
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16345,Subscriber,1986.0,2
3,687,7/1/2016 00:00:24,7/1/2016 00:11:52,459,W 20 St & 11 Ave,40.746745,-74.007756,347,Greenwich St & W Houston St,40.728846,-74.008591,25210,Customer,NaN,0
4,609,7/1/2016 00:00:31,7/1/2016 00:10:40,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,212,W 16 St & The High Line,40.743349,-74.006818,15514,Customer,NaN,0

In [3]:
df.shape # Размеры фрейма

(30, 15)

In [4]:
df.columns # Названия колонок

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [5]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [6]:
df[['starttime', 'start station name']].head() # Вывести только выбранные столбцы

           starttime     start station name
0  7/1/2016 00:00:02       W 20 St & 11 Ave
1  7/1/2016 00:00:18  Lafayette St & E 8 St
2  7/1/2016 00:00:19    N 8 St & Driggs Ave
3  7/1/2016 00:00:24       W 20 St & 11 Ave
4  7/1/2016 00:00:31  Greenwich Ave & 8 Ave

In [7]:
df.iloc[-1] # Получить строку -1

tripduration                                    492
starttime                         7/1/2016 00:02:32
stoptime                          7/1/2016 00:10:44
start station id                                481
start station name             S 3 St & Bedford Ave
start station latitude                      40.7126
start station longitude                    -73.9626
end station id                                 3109
end station name           Banker St & Meserole Ave
end station latitude                        40.7261
end station longitude                      -73.9562
bikeid                                        23648
usertype                                 Subscriber
birth year                                     1991
gender                                            2
Name: 29, dtype: object

In [8]:
df.iloc[-1, 4] # Значение в строке -1, столбце 4

'S 3 St & Bedford Ave'

In [9]:
df.loc[0:9, ['tripduration']] # Параметр tripduration для первых 10 строк

   tripduration
0           704
1           492
2           191
3           687
4           609
5           672
6           466
7           556
8           767
9          1442

In [10]:
df.loc[0:6, 'tripduration':'start station name']

,tripduration,starttime,stoptime,start station id,start station name
0,704,7/1/2016 00:00:02,7/1/2016 00:11:47,459,W 20 St & 11 Ave
1,492,7/1/2016 00:00:18,7/1/2016 00:08:31,293,Lafayette St & E 8 St
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave
3,687,7/1/2016 00:00:24,7/1/2016 00:11:52,459,W 20 St & 11 Ave
4,609,7/1/2016 00:00:31,7/1/2016 00:10:40,284,Greenwich Ave & 8 Ave
5,672,7/1/2016 00:00:45,7/1/2016 00:11:57,459,W 20 St & 11 Ave
6,466,7/1/2016 00:00:49,7/1/2016 00:08:35,128,MacDougal St & Prince St

In [11]:
df[df['tripduration'] < 400].head() # Аналог фильтрации по маске

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
2,191,7/1/2016 00:00:19,7/1/2016 00:03:31,3090,N 8 St & Driggs Ave,40.717746,-73.956001,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,16345,Subscriber,1986.0,2
12,306,7/1/2016 00:01:07,7/1/2016 00:06:13,264,Maiden Ln & Pearl St,40.707065,-74.007319,376,John St & William St,40.708621,-74.007222,22569,Subscriber,1981.0,1
21,362,7/1/2016 00:02:01,7/1/2016 00:08:04,157,Henry St & Atlantic Ave,40.690893,-73.996123,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,16326,Subscriber,1966.0,1
23,351,7/1/2016 00:02:05,7/1/2016 00:07:57,490,8 Ave & W 33 St,40.751551,-73.993934,485,W 37 St & 5 Ave,40.750380,-73.983390,25788,Subscriber,1987.0,1
24,328,7/1/2016 00:02:11,7/1/2016 00:07:40,492,W 33 St & 7 Ave,40.750200,-73.990931,540,Lexington Ave & E 29 St,40.743116,-73.982154,22022,Subscriber,1972.0,1

In [12]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,25.000000,30.000000
mean,797.466667,529.433333,40.731871,-73.992881,573.700000,40.733723,-73.989227,20263.033333,1984.120000,1.066667
std,558.310860,714.275021,0.018098,0.017158,697.392639,0.015794,0.014889,4047.818548,7.149126,0.639684
min,191.000000,127.000000,40.690893,-74.009447,174.000000,40.689888,-74.008591,14676.000000,1966.000000,0.000000
25%,464.500000,269.000000,40.723604,-74.006474,329.500000,40.724936,-74.001034,16399.750000,1981.000000,1.000000
50%,582.500000,359.500000,40.730380,-73.998004,437.000000,40.734048,-73.990506,19944.000000,1986.000000,1.000000
75%,1053.000000,459.000000,40.744569,-73.987734,499.250000,40.743291,-73.981754,24031.250000,1989.000000,1.000000
max,2229.000000,3150.000000,40.775369,-73.948034,3109.000000,40.765849,-73.952123,25925.000000,1994.000000,2.000000

In [13]:
df.describe(include=[np.object])

,starttime,stoptime,start station name,end station name,usertype
count,30,30,30,30,30
unique,27,30,23,26,2
top,7/1/2016 00:01:54,7/1/2016 00:10:31,W 20 St & 11 Ave,Greenwich St & W Houston St,Subscriber
freq,2,1,3,3,25

In [16]:
df['usertype'].value_counts() # Подсчитать значения столбца

Subscriber    25
Customer       5
Name: usertype, dtype: int64

In [15]:
df['usertype'].value_counts(normalize=True) # Подсчитать процентные соотношения значений столбца

Subscriber    0.833333
Customer      0.166667
Name: usertype, dtype: float64

In [18]:
df['start station id'].unique() # Уникальные значеиня

array([ 459,  293, 3090,  284,  128,  433,  254,  515,  319,  372,  264,
       3150,  377,  347,  527,  157,  453,  490,  492,  237,  127,  410,
        481])

In [19]:
df.corr() # Поиск корреляици между численными столбцами датасета

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
tripduration,1.000000,0.005958,0.279717,-0.155065,-0.208088,0.443372,-0.015035,-0.083743,0.220732,-0.228435
start station id,0.005958,1.000000,0.289613,0.678618,0.492051,-0.049569,0.416501,-0.000742,0.201254,0.174797
start station latitude,0.279717,0.289613,1.000000,-0.020152,-0.220959,0.529299,-0.228736,0.056788,0.369665,-0.214625
start station longitude,-0.155065,0.678618,-0.020152,1.000000,0.559629,-0.161206,0.728681,0.312968,0.119667,0.332913
end station id,-0.208088,0.492051,-0.220959,0.559629,1.000000,-0.110345,0.693786,0.032875,0.154493,0.424481
end station latitude,0.443372,-0.049569,0.529299,-0.161206,-0.110345,1.000000,-0.080409,0.118937,0.183303,-0.288049
end station longitude,-0.015035,0.416501,-0.228736,0.728681,0.693786,-0.080409,1.000000,0.175795,-0.026347,0.518770
bikeid,-0.083743,-0.000742,0.056788,0.312968,0.032875,0.118937,0.175795,1.000000,-0.037950,-0.190518
birth year,0.220732,0.201254,0.369665,0.119667,0.154493,0.183303,-0.026347,-0.037950,1.000000,0.383581
gender,-0.228435,0.174797,-0.214625,0.332913,0.424481,-0.288049,0.518770,-0.190518,0.383581,1.000000

In [20]:
df.sample(frac=0.1) # Сэмплирование из датасета

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
20,511,7/1/2016 00:01:59,7/1/2016 00:10:31,254,W 11 St & 6 Ave,40.735324,-73.998004,251,Mott St & Prince St,40.723180,-73.994800,17540,Subscriber,1983.0,2
29,492,7/1/2016 00:02:32,7/1/2016 00:10:44,481,S 3 St & Bedford Ave,40.712605,-73.962644,3109,Banker St & Meserole Ave,40.726060,-73.956210,23648,Subscriber,1991.0,2
7,556,7/1/2016 00:00:51,7/1/2016 00:10:07,433,E 13 St & Avenue A,40.729554,-73.980572,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,25755,Subscriber,1989.0,1